venv

# Text backup files
*.bak

# Database
*.sqlite3

DjangoPracticeRepo\django-test\mytestsite\mytestsite\__pycache__
DjangoPracticeRepo\client\node_modules
DjangoPracticeRepo\backend\venv
DjangoPracticeRepo\backend\backend\__pycache__
